.container
  p.info All graphs are generated based on <br> <a href="https://github.com/webuildsg/data/tree/gh-pages/data/events/v1">open events data</a> and <a href="https://github.com/webuildsg/data/tree/gh-pages/data/repos/v1">open source data</a>

  .explain
    p.info an open event is:
    ul
      li curated from an api (<a href="https://developers.facebook.com/">Facebook</a>, <a href="http://www.meetup.com/meetup_api/">Meetup</a>, <a href="https://developer.eventbrite.com/">Eventbrite</a>)
      li manually included or queried from an ICS url
      li open to public and free for all
      li held at a valid location
      li engineering or design related
  .explain
    p.info an open source repository has:
    ul
      li an <a href="http://choosealicense.com/">open license</a>
      li a remote repository on <a href="https://github.com/">Github</a>
      li "Singapore" in the <a href="https://developer.github.com/v3/users/#get-a-single-user">owner's location</a>
      li at least 50 <a href="https://developer.github.com/v3/repos/#get">star gazers</a>
      li been <a href="https://developer.github.com/v3/repos/#get">updated</a> in the last 3 months
