footer
  .container
    p We welcome your <a href="https://twitter.com/webuildsg">suggestions</a>
    p Feel free to <a href="https://github.com/webuildsg/data">report bugs / send pull requests</a>

ul.social
  li
    a(href='https://twitter.com/webuildsg')
      span.footer-twitter
    p Twitter
  li
    a(href='http://www.facebook.com/webuildsg')
      span.footer-facebook
    p Facebook
  li
    a(href='https://github.com/webuildsg')
      span.footer-github
    p GitHub
  li
    a(href='https://webuild.sg/cal')
      span.footer-calendar
    p Calendar
  li
    a(href='https://feeds.feedburner.com/WeBuildLive')
      span.footer-rss
    p RSS
  li
    a(href='https://itunes.apple.com/us/podcast/we-build-sg-live/id713804010')
      span.footer-itunes
    p iTunes
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71304207-1', 'auto');
  ga('send', 'pageview');
