header
  .container
    h1 we build!
    .splash SG DATA
    h2
      small Using data and graphs to inspire <strong>variety</strong>, <strong>openness</strong> and <strong>projects</strong> for the design and engineering community
