header
  .container
    h1 we build!
    .splash SG DATA
    ul.list-social
      li 
        span.icon-feed
        a(href="https://webuild.sg") &nbsp;main
      li 
        span.icon-music
        a(href="https://live.webuild.sg") &nbsp;live
      li 
        span.icon-cal
        a(href="https://data.webuild.sg") &nbsp;data
      li 
        span.icon-cc
        a(href="https://notes.webuild.sg") &nbsp;notes
.container
  p.subtitle Using data and graphs to inspire <strong>variety</strong>, <strong>openness</strong> and <strong>projects</strong> <br>for the design and engineering community
