ul.boxes
  li
    p.big xxxx
    p.sm open events held in 2015
  li
    p.big xxxx
    p.sm open source repos updated in 2015
  li
    p.big xxxx
    p.sm user groups held events in 2015
  li
    p.big xxxx
    p.sm updates made to repos in 2015

