ul.boxes
  li
    p.big#total-repos-2016
    p.sm open source repos updated in <strong>2016</strong>
  li
    p.big#total-updates-2016
    p.sm updates made to repos in <strong>2016</strong>
  li
    p.big#total-events-2016
    p.sm open events held in <strong>2016</strong>
  li
    p.big#total-groups-2016
    p.sm user groups held events in <strong>2016</strong>

ul.boxes
  li
    p.big#total-repos-2015
    p.sm open source repos updated in <strong>2015</strong>
  li
    p.big#total-updates-2015
    p.sm updates made to repos in <strong>2015</strong>
  li
    p.big#total-events-2015
    p.sm open events held in <strong>2015</strong>
  li
    p.big#total-groups-2015
    p.sm user groups held events in <strong>2015</strong>
