script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js")
script(src="/public/js/line-graph.js")
script(src="/public/js/bar-graph.js")
script(src="/public/js/options-list.js")
script(src="/public/js/script.js")
