doctype
html(lang='en')
  include ./../../partials/head.jade
  body
    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!
    div.wrapper
      include ./../../partials/header.jade

      .container
        .graph-section
          h3 events per week of month
          .graph#events-per-week-of-month
      include ./../../partials/explain.jade
      include ./../../partials/footer.jade

    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js")
    script(src="/public/js/bar-graph.js")
    script(src="/public/js/common.js")
