doctype
html(lang='en')
  include ./partials/head.jade
  body
    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!
    div.wrapper
      .starter
        include ./partials/header.jade
      .container
        <input class="search" id="search" placeholder="search data"/>
        include ./partials/graph-list.jade
        include ./partials/overview.jade

      include ./partials/footer.jade
    script(src="/public/js/homepage.js")
    script(src="/public/js/common.js")
