doctype
html(lang='en')
  include ./partials/head.jade
  body
    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!
    div.wrapper
      include ./partials/header.jade

      <input class="search" id="search" placeholder="search data"/>

      .container
        ul.list-graph
          li(class="searchable", data-index="repositories repos open source week weeks")
            a(href="/dataset/repos-per-week")
              span
                include ./icons/chart.jade
              p.graph-name repos per week
          li(class="searchable", data-index="events meetup week weeks")
            a(href="/dataset/events-per-week")
              span
                include ./icons/bar.jade
              p.graph-name events per week
          li(class="searchable", data-index="repos repositories open source programming language")
            a(href="/dataset/repos-per-programming")
              span
                include ./icons/code.jade
              p.graph-name programming languages
          li(class="searchable", data-index="events meetups active user group")
            a(href="/dataset/events-per-group")
              span
                include ./icons/group.jade
              p.graph-name active user groups
          li(class="searchable", data-index="repos repositories open source active")
            a(href="/dataset/repos-most-active")
              span
                include ./icons/repo.jade
              p.graph-name active repositories
          li(class="searchable", data-index="meetup day week events")
            a(href="/dataset/events-per-day-of-week")
              span
                include ./icons/cal.jade
              p.graph-name event day of week
          li(class="searchable", data-index="meetup event duration")
            a(href="/dataset/events-per-duration")
              span
                include ./icons/hourglass.jade
              p.graph-name event duration
          li(class="searchable", data-index="time meetup event hour day")
            a(href="/dataset/events-per-time-of-day")
              span
                include ./icons/clock.jade
              p.graph-name event time of day

      include ./partials/footer.jade
    script(src="/public/js/script.js")
