doctype
html(lang='en')
  include ./partials/head.jade
  body
    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!
    div.wrapper
      include ./partials/header.jade

      <input class="search" id="search" placeholder="search data"/>

      .container
        include ./partials/graph-list.jade

      include ./partials/footer.jade
    script(src="/public/js/script.js")
