.mobile-on {
  display: none;
}

.container {
  position: relative;
}

footer {
  margin: 0;
}

header:hover {
  cursor: pointer;
}

h2 {
  padding: 0;
}

.search {
  margin: 2rem auto 1rem;
  display: block;
  border: 3px solid #eee;
  border-radius: 9px;
  font-size: 1.5rem;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  color: #444;
  font-family: "Open Sans",Helvetica Neue,sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.search:focus {
  border-color: #228DB7;
}

.searchable span {
  display: block;
  background: #fff;
  border-radius: 50%;
  padding: 1.8em;
  height: 120px;
  width: 120px;
}

.searchable:hover span {
  background: #eee;
}

.searchable:hover .icon-graph {
  fill: #228DB7;
  stroke: #228DB7;
}

.searchable:hover span {
  background: #f8f4da;
}

.searchable:hover .graph-name {
  color: #e06149;
}

.searchable a {
  text-decoration: none;
}

.list-graph {
  list-style: none;
  text-align: center;
  padding: 0;
}

.list-graph li {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  margin: 1em 5%;
}

.list-graph img {
  display: block;
}

.graph-name {
  color: #444;
  font-size: .9em;
  margin: .5em 0;
  text-align: center;
}

.splash {
  background-color: #fff;
  font-size: 1.5vw;
  position: absolute;
  right: 5rem;
  bottom: 3rem;
  padding: 0.5rem;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  border: 5px solid #228DB7;
  color: #C11A18;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  border-radius: 0.5vw;
}

.info {
  color: #666;
  text-align: center;
}

.info a {
  color: #666;
}

path {
  stroke: #228db7;
  stroke-width: 3;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  display: none;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

text {
  color: green;
}

/* graphs */
.graph-section {
  margin: 3em 0;
  border-bottom: 1px solid #ddd;
}

.graph {
  margin: 2em 0 0 0;
  width: 100%;
  padding-bottom: 4em;
}

.bar {
  height: 40px;
  margin: .1em 0;
}

.graph-bar, .graph-label {
  display: inline-block;
  padding: .5em;
  vertical-align: top;
}

.graph-label {
  width: 30%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: #228db7;
  color: white;
}

.graph-label a {
  color: #fff;
}

.graph-bar {
  background: #f8f4da;
  text-align: right;
}

.explain {
  color: #444;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: .5em;
  width: 48%;
  margin: 1.5em .5%;
  display: inline-block;
}

.explain a {
  color: #444;
}

.axis {
  fill: #777;
}

.y.axis line, .y.axis path {
  stroke: #777;
  stroke-width: 2;
  display: block;
}

.x.axis path {
  display: block;
  stroke: #777;
  stroke-width: 2;
}

.line {
  fill: none;
  stroke: #228db7;
  stroke-width: 3px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #228db7;
  stroke: #228db7;
}


.label {
  fill: #c11a18;
  font-size: 18px;
  text-transform: lowercase;
}

.icon-graph {
  fill: #999;
  stroke: #999;
  stroke-width: 0;
}

/* responsive */
@media only screen and (max-width: 960px) {
  .mobile-off {
    display: none;
  }

  .mobile-on {
    max-width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  h3 {
    font-size: 2em;
  }

  .explain {
    width: 100%;
    display: block;
  }

  .splash {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .graph-label, .graph-bar {
    font-size: .9em;
  }
  .bar {
    height: 32px;
  }
}
