<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><path class="icon-graph" d="M18 24H6c-1 0-2 1-2 2v36c0 1 1 2 2 2h12c1 0 2-1 2-2V26c0-1-1-2-2-2zm0 36H6V44h12v16zm20-44H26c-1 0-2 1-2 2v44c0 1 1 2 2 2h12c1 0 2-1 2-2V18c0-1-1-2-2-2zm0 44H26V40h12v20zM58 8H46c-1 0-2 1-2 2v52c0 1 1 2 2 2h12c1 0 2-1 2-2V10c0-1-1-2-2-2zm0 52H46V36h12v24z"/></svg>
