<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><path class="svg-icon-graph" d="M42 12L22 4 0 12v48l22-8 20 8 22-8V4l-22 8zM24 9l16 6.5V55l-16-6.5V9zM4 15L20 9v39.5L4 54.3V14.8zm56 34.4L44 55V15.5l16-5.8v39.5z"/></svg>
