doctype
html(lang='en')
  include ./../../partials/head.jade
  body
    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!
    div.wrapper
      include ./../../partials/header.jade

      .container
        .graph-section
          h3 repositories per programming languages
          ul#select-language.select-lang
            li
              input(type="radio" name="language" id="language-c")
              label(for="language-c") C
            li
              input(type="radio" name="language" id="language-c++")
              label(for="language-c++") C++
            li
              input(type="radio" name="language" id="language-clojure")
              label(for="language-clojure") Clojure
            li
              input(type="radio" name="language" id="language-coffeescript")
              label(for="coffeescript") CoffeeScript
            li
              input(type="radio" name="language" id="language-css")
              label(for="language-css") CSS
            li
              input(type="radio" name="language" id="language-go")
              label(for="language-go") Go
            li
              input(type="radio" name="language" id="language-haskell")
              label(for="language-haskell") Haskell
            li
              input(type="radio" name="language" id="language-html")
              label(for="language-html") HTML
            li
              input(type="radio" name="language" id="language-java")
              label(for="language-java") Java
            li
              input(type="radio" name="language" id="language-javascript")
              label(for="language-javascript") JavaScript
            li
              input(type="radio" name="language" id="language-julia")
              label(for="language-julia") Julia
            li
              input(type="radio" name="language" id="language-objective-c")
              label(for="language-objective-c") Objective-C
            li
              input(type="radio" name="language" id="language-php")
              label(for="language-php") PHP
            li
              input(type="radio" name="language" id="language-python")
              label(for="language-python") Python
            li
              input(type="radio" name="language" id="language-r")
              label(for="language-r") R
            li
              input(type="radio" name="language" id="language-ruby")
              label(for="language-ruby") Ruby
            li
              input(type="radio" name="language" id="language-rust")
              label(for="language-rust") Rust
            li
              input(type="radio" name="language" id="language-shell")
              label(for="language-shell") Shell
            li
              input(type="radio" name="language" id="language-swift")
              label(for="language-swift") Swift
            li
              input(type="radio" name="language" id="language-tex")
              label(for="language-tex") Tex
          .graph#repos-per-programming-language.list-lang
      include ./../../partials/explain.jade
      include ./../../partials/footer.jade
    include ./../../partials/scripts.jade
