doctype
html(lang='en')
  include ./../../partials/head.pug
  body
    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!
    div.wrapper
      include ./../../partials/header.pug

      .container
        .graph-section
          h3 repositories per programming languages
          ul#select-language.select-lang
            li
              label(id="language-c")
                input(type="radio" name="language")
                |  C
            li
              label(id="language-c++")
                input(type="radio" name="language")
                |  C++
            li
              label(id="language-clojure")
                input(type="radio" name="language")
                |  Clojure
            li
              label(id="language-coffeescript")
                input(type="radio" name="language")
                |  CoffeeScript
            li
              label(id="language-css")
                input(type="radio" name="language")
                |  CSS
            li
              label(id="language-go")
                input(type="radio" name="language")
                |  Go
            li
              label(id="language-haskell")
                input(type="radio" name="language")
                |  Haskell
            li
              label(id="language-html")
                input(type="radio" name="language")
                |  HTML
            li
              label(id="language-java")
                input(type="radio" name="language")
                |  Java
            li
              label(id="language-javascript")
                input(type="radio" name="language")
                |  JavaScript
            li
              label(id="language-julia")
                input(type="radio" name="language")
                |  Julia
            li
              label(id="language-objective-c")
                input(type="radio" name="language")
                |  Objective-C
            li
              label(id="language-php")
                input(type="radio" name="language")
                |  PHP
            li
              label(id="language-python")
                input(type="radio" name="language")
                |  Python
            li
              label(id="language-r")
                input(type="radio" name="language")
                |  R
            li
              label(id="language-ruby")
                input(type="radio" name="language")
                |  Ruby
            li
              label(id="language-rust")
                input(type="radio" name="language")
                |  Rust
            li
              label(id="language-shell")
                input(type="radio" name="language")
                |  Shell
            li
              label(id="language-swift")
                input(type="radio" name="language")
                |  Swift
            li
              label(id="language-tex")
                input(type="radio" name="language")
                |  Tex
          .graph#repos-per-programming-language.list-lang
      include ./../../partials/explain.pug
      include ./../../partials/footer.pug

    script(src="/data/public/js/options-list.js")
    script(src="/data/public/js/common.js")
